.ufo {
    animation: float 15s alternate ease-in-out infinite;
}

.abduction {
    animation: float 2.8s alternate ease-in-out infinite;
    display: none;
}

.alien-head {
    animation: head 2.8s alternate ease-in-out infinite;
}

@keyframes animate-cloud-horizontal {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(calc(-100vw - 100%));
    }
}

.cloud {
    animation: animate-cloud-horizontal 2s linear infinite;
}

.cloud_2 {
    animation: animate-cloud-horizontal 3s linear infinite;
}

@keyframes stars {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(calc(-100vw - 100%));
        opacity: 0.5;
    }
}

.sky {
    animation: stars 1s linear infinite;
}

@keyframes diagonal {
    0% {
        transform: translatex(-900px) translatey(-900px);
        opacity: 1;
    }

    100% {
        transform: translatex(1000px) translatey(1000px);
        opacity: 0.5;
    }
}

@keyframes diagonal-animation {
    0% {
        transform: translatex(-900px) translatey(-900px);
        opacity: 1;
    }

    100% {
        transform: translatex(1000px) translatey(1000px);
        opacity: 0.5;
    }
}

.rock-big,
.rock-big_2 {
    animation: diagonal-animation 3s linear infinite;
}

.rock-medium {
    animation: diagonal 0.9s linear infinite;
}

.rock-small,
.rock-small_2 {
    animation: diagonal-animation 2s linear infinite;
}

@keyframes float {
    0% {
        transform: translate(0px, -300px) rotate(-5deg);
    }

    50% {
        transform: translate(20px, 80px) rotate(2deg);
    }

    80% {
        transform: translate(-50px, 20px) rotate(-10deg);
    }

    100% {
        transform: translate(1200px, 1200px) rotate(5deg);
    }
}

@keyframes head {
    0% {
        transform: translate(0px, 5px) rotate(0deg);
    }

    50% {
        transform: translate(20px, 80px) rotate(0deg);
    }

    100% {
        transform: translate(50px, 20px) rotate(1deg);
    }
}